project_id = "suzulabo-playground"
# region  = "asia-northeast1"
# zone    = "asia-northeast1-c"
# instance_name = "dev-vscode"
# machine_type  = "c4a-standard-1"
# boot_image = "projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts-arm64"
# allowed_source_ranges = ["X.X.X.X/32"] # replace with your public IP for tighter security
